
<div class="full-screen linear-gradient">
    <form [formGroup]="pwResetForm" class="card center-absolute popup popup-shadow" (ngSubmit)="resetPassword()">
        <h1>RESET PASSWORD</h1>
        <!-- Password Input -->
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Set Password" type="password" formControlName="password">
          <mat-error *ngIf="requiredErrors('password')">Password is required</mat-error>
          <mat-error *ngIf="pwResetForm.get('password')?.hasError('invalidPassword') && minLengthError('password')">
            Min. 8 characters | A-Z | a-z | 1-9 |.!# 
          </mat-error>
        </mat-form-field>
      
        <!-- Repeat Password Input -->
        <mat-form-field appearance="outline">
          <mat-label>Repeat Password</mat-label>
          <input matInput placeholder="Repeat Password" type="password" formControlName="repeatpassword">
          <mat-error *ngIf="requiredErrors('repeatpassword')">Please repeat your password</mat-error>
          <mat-error *ngIf="!passwordRepeat('repeatpassword', 'password') && pwResetForm.get('repeatpassword')?.value.length > 1">
            That's not the same password
          </mat-error>
        </mat-form-field>
      
        <!-- Navigation Link -->
        <div class="question">Click <a class="text-btn color-secondary" (click)="directToLogin()">here</a> to navigate to the login page</div>
      
        <!-- Submit Button -->
        <button class="button-1" type="submit" [disabled]="!isFormValid()">Confirm</button>
      </form>

</div>