<div class="main-container">
    <div class="h1-component">
        <h1>About JOIN</h1>
    </div>
    

    <div class="text-container">
        JOIN is a sophisticated application built with Angular for the frontend and Django for the backend. It combines seamless design with robust functionality to simplify your workflow.

<br>At its core, JOIN functions as a centralized hub for managing contacts and tasks, offering a Kanban-style interface for effortless organization. <br> <br>Whether you're coordinating projects, collaborating with team members, or managing personal tasks, JOIN provides the tools you need to stay organized and focused.

<br>With JOIN, creating contacts is just the beginning. Dive deeper into task management by assigning tasks to contacts and breaking them down into subtasks. This hierarchical structure ensures comprehensive project management, allowing you to track progress and prioritize effectively.

<br>The centerpiece of JOIN is its Board Component – a dynamic dashboard where tasks can be easily adjusted using drag-and-drop functionality. Move tasks seamlessly between columns to reflect their current status, ensuring visibility and alignment across your projects.
    </div>
</div>
