<form (ngSubmit)="onSubmit()" [formGroup]="contactForm" class="example-form center">

    <!-- Fist Name -->
    <mat-form-field appearance="outline">
        <mat-label>First name</mat-label>
        <input class="input-field" type="text" matInput formControlName="first_name">
        <mat-icon matSuffix>account_circle</mat-icon>
        <mat-error *ngIf="contactForm.controls['first_name'].errors?.['required']">
            <strong>First name</strong> is required
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Last name</mat-label>
        <input class="input-field" type="text" matInput formControlName="last_name">
        <mat-icon matSuffix>account_circle</mat-icon>
        <mat-error *ngIf="contactForm.controls['last_name'].errors?.['required']">
            <strong>Last name</strong> is required
        </mat-error>
    </mat-form-field>



    <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input type="email" matInput formControlName="email">
        <mat-icon matSuffix>mail</mat-icon>
        <mat-error *ngIf="contactForm.controls['email'].errors?.['email']">
            Please enter a valid <strong>email</strong> address
        </mat-error>
        <mat-error *ngIf="contactForm.controls['email'].errors?.['required']">
            Email is <strong>required</strong>
        </mat-error>
    </mat-form-field>


    <mat-form-field appearance="outline">
        <mat-label>Phone</mat-label>
        <input autocomplete="phone" class="input-field" type="phone" matInput formControlName="phone">
        <mat-icon matSuffix>phone</mat-icon>
        <mat-error *ngIf="contactForm.controls['phone'].errors?.['required']">
            Phone Nr. is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="contactForm.controls['phone'].errors?.['pattern']">
            Phone Nr. must contain only <strong>numbers</strong>
        </mat-error>
    </mat-form-field>

    <div class="row-container">
        <button (click)="popupService.closePopups()" type="button"  class="button-1">cancel</button>
        <button action="submit" [disabled]="!contactForm.valid" [ngClass]="{'valid':contactForm.valid}" class="button-2 submit">create contact</button>
    </div>
</form>