<div class="popup">
    <div class="center">
        <h1>Login</h1>
    </div>
    <form  [formGroup]="loginForm" class="example-form center">

        <!-- Username -->
        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input  type="name" matInput formControlName="username">
            <mat-icon matSuffix>username</mat-icon>
            <mat-error *ngIf="loginForm.controls['username'].errors?.['required']">
                username is <strong>required</strong>
            </mat-error>
        </mat-form-field>


        <!-- Password -->
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input autocomplete="current-password" class="input-field" type="password" matInput formControlName="password">
            <mat-icon matSuffix>lock</mat-icon>
            <mat-error *ngIf="loginForm.controls['password'].errors?.['required']">
                Password is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <div class="row-container">
            <div (click)="redirectToPWReset()" class="font-blue text-btn">forgot your password?</div>
        </div>

        <div class="row-container button-container">
            <div (click)="onSubmit('login')" type="button" action="submit" class="button-1" [ngClass]="{'invalid': !loginForm.valid}">Login</div>
            <div (click)="onSubmit('guest')" class="button-2">Guest Login</div>
        </div>
        <div *ngIf="error" class="row center-absolute error">please fill the form!</div>
    </form>
</div>