<div class="popup">
    <div class="center">
        <h1>Login</h1>
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="example-form center">

        <!-- Username -->
        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input  type="name" matInput formControlName="username">
            <mat-icon matSuffix>username</mat-icon>
            <mat-error *ngIf="loginForm.controls['username'].errors?.['required']">
                username is <strong>required</strong>
            </mat-error>
        </mat-form-field>


        <!-- Password -->
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input autocomplete="current-password" class="input-field" type="password" matInput formControlName="password">
            <mat-icon matSuffix>lock</mat-icon>
            <mat-error *ngIf="loginForm.controls['password'].errors?.['required']">
                Password is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <div class="row-container">
            <div class="checkbox center">
                <input class="checkbox" type="checkbox" formControlName="isChecked" name="isChecked">
                <span>remember me</span>
            </div>
            <div (click)="redirectToPWReset()" class="font-blue text-btn">forgot password</div>
        </div>

        <div class="row-container button-container">
            <div (click)="onSubmit()" type="button" action="submit" class="button-1">Login</div>
            <div (click)="onSubmit()" class="button-2">Guest Login</div>
        </div>
    </form>
</div>