mat-error {
  color: red;
  font-size: 12px;
  text-align: center;
}

mat-label {
  font-size: 12px;
}


.blue-snackbar {
  background:#29ABE2;
}

.error {
  color: red;
  position: absolute;
  top: unset;
  bottom: 2px;
}


.example-section {
  margin: 12px 0;
}



.checkbox {
  cursor: pointer;
}