<div class="category-container">
    <div class="category">
        <span class="{{task.category}}">{{ task.category }}</span>
    </div>

    <div *ngIf="overdue" class="overdue-container">
        <span class="overdue"><strong>overdue</strong></span>
        <span class="date">{{ task.date }}</span>
    </div>

</div>

<div class="title">
    <span>{{ task.title }}</span>
</div>

<div class="description">
    <span>{{ task.description }}</span>
</div>

<div class="subtasks-progress">
    <mat-progress-bar mode="determinate" value="{{ progressBarValue }}"></mat-progress-bar>
    <span>{{ count }}/{{ subtasks.length }}</span>
</div>

<div class="bottom-task-box">
    <div class="contact-box">

        <div class="contact-container">
            <div class="center box-shadow contact-icon" *ngFor="let contact of contacts; let i = index"
                [style.left.px]=" i * 28">
                <span>{{contact.first_name.charAt(0).toUpperCase()}}
                    {{contact.last_name.charAt(0).toUpperCase()}}</span>
            </div>
        </div>
    </div>

    <div class="prio-box center">
        <img src="assets/img/{{ task.prio }}.svg" alt="">
    </div>
</div>

<div class="more text-btn" (click)="popupService.showTaskPopup(task, subtasks, contacts)">
    <b>...</b>
</div>

<div class="move center" (click)="moveTaskPopup()">
    <mat-icon class="text-btn">import_export</mat-icon>
</div>

<div *ngIf="openMoveTaskPopup" class="popup-move">
    <div class="selection center color-secondary" (click)="moveTask('todo')">Todo</div>
    <div class="selection center  color-secondary" (click)="moveTask('inProgress')">In Progress</div>
    <div class="selection center color-secondary" (click)="moveTask('awaitingFeedback')">Awaiting Feedback</div>
    <div class="selection center color-secondary" (click)="moveTask('done')">Done</div>
</div>