<div class="column-center container color-primary">
    <div class="head">

        <div class="left">
            <div class="font-30"><b>{{ task?.title }}</b></div>
            <div style="color: grey; margin-top:10px;"> {{
                formattedDate }}
            </div>
        </div>

        <div class="right">
            <div class="category {{ task?.category }}">
                <span>{{ task?.category }}</span>
            </div>
        </div>


    </div>


    <div class="description">
        <span class="font-20">Description:</span>
        <span style="color: grey; margin-top:10px;">{{ task?.description }}</span>
    </div>


    <div class="row" style="margin-bottom: 20px;">
        <span class="prio-button">
            {{ task?.prio }} 
            <img src="assets/img/{{task?.prio}}.svg" alt="">
        </span>
    </div>

    <div class="row">Assigned to:</div>
    <div class="row assigned">
        <div class="contact-box" *ngFor="let contact of popupService.taskPopupContacts">
            <div class="center box-shadow contact-icon">
                <span>{{contact.first_name.charAt(0).toUpperCase()}}
                    {{contact.last_name.charAt(0).toUpperCase()}}
                </span>
            </div>
            <span>{{ contact.first_name }} {{ contact.last_name }}</span>
        </div>

    </div>
    
    <div class="row">
        <span class="font-20">Subtasks:</span>
        <div class="subtask column-center" *ngFor="let subtask of popupService.taskPopupSubtasks; let i = index">
            <span>{{ subtask.title }}</span>
            <input (change)="updateCheckbox(subtask.id , subtask)" type="checkbox" [(ngModel)]="subtask.done" name="subtask-{{i}}">
          </div>
    </div>
    <div class="row bottom">
        <div class="button-container">
            <div (click)="deleteTask(task?.id)" class="delete text-btn center">
                <img src="assets/img/delete.png" alt="">
                delete
            </div>
            <div (click)="openEditTaskPopup(this.task)" class="text-btn edit center">
                <img src="assets/img/edit.png" alt="">
                edit

            </div>
        </div>
    </div>
</div>