@import "../categories.scss";

.container {
    position: relative;
    margin-top: 50px;
    height: calc(100% - 50px);
    font-size: 15px;
    font-weight: 200;
}

.bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    display: flex;
    justify-content: flex-end;
}

.head {
    display: flex;
    margin-left: 50px;
    width: calc(100% - 50px);
    height: 50px;
    margin-bottom: 50px;
}

.description {
    display: flex;
    flex-direction: column;
    width: calc(100% - 50px);
    margin-left: 50px;
    margin-bottom: 50px;
}

.left {
    min-width: 25%;
    display: flex;
    flex-direction: column;
    border-right: lightgrey 1px solid;
    padding-right: 15px;
}

.right {
    height: 100%;
    margin-left: 50px;
    display: flex;
    align-items: center;
    @media (max-width:1200px) {
        margin-left: 15px;
    }
}

.row {
    height: 30px;
    margin-left: 50px;
    width: calc(100% - 50px);
}

.delete {
    gap: 10px;
    margin-right: 25px
}

.edit {
    @extend .delete;
    border-left: 1px solid lightgray;
    padding-left: 25px;
}

.font-20 {
    font-size: 20px !important;
}

.font-15 {
    font-size: 15px !important;
}
.font-30 {
    font-size: 30px !important;
}

.button-container {
    display: flex;
    margin-right: 50px;
    font-size: 20px;
    height: 20px;

    img {
        height: 20px;
    }
}

.assigned {
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow-y: scroll;
    padding: 10px 0px;
}

.contact-box {
    display: flex;
    gap: 20px;
    position: relative;
    align-items: center;
    padding: 5px;
    margin-top: 10px;
    box-shadow: 1px 1px 7px rgba(211, 211, 211, 0.432);
    border-radius: 10px;
    max-width: 30%;
    @media (max-width:1200px) {
        width: 90%;
        max-width: unset;
    }
}

.contact-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 2px;
    color: white;
    background-color: rgb(147, 174, 174);
    font-size: 15px;
    border: 1px solid white;
    box-shadow: lightgray 1px 1px 5px;
}

.prio-button {
    border: none;
    box-shadow: 1px 1px 10px lightgray;
    padding: 5px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-weight: 300;
    font-size: 15px;
    width: 80px;
    border-radius: 10px;
    padding: 10px 20px;
}

.subtask {
    margin-top: 10px;
    padding: 5px;
    min-width: 200px ;
    display: flex;
    align-items: center;
}

