<app-startscreen *ngIf="!authService.userIsLoggedIn && !token"></app-startscreen>
<app-reset-password *ngIf="token"></app-reset-password>

<app-template [ngClass]="{'filter': popupService.behindPopupContainer}"
    *ngIf="authService.userIsLoggedIn"></app-template>

<div (click)="popupService.closePopups()" *ngIf="popupService.behindPopupContainer" class="behind-popup-container"></div>



<!-- ADD CONTACT POPUP -->
<div *ngIf="popupService.addContact" class="popup popup-contact center-absolute br popup-shadow">
    <div class="popup-contact-left linear-gradient center">
        <div style="align-items:start" class="row-container center-column">
            <img src="assets/img/join-logo.png" alt="">
            <div class="h2"> <span class="h2 blue-underline">Add</span> contact</div>
        </div>
    </div>

    <div class="popup-contact-middle center">
        <div class="person-icon center">
            <img src="assets/img/person.png" alt="">
        </div>
    </div>


    <div class="popup-contact-right center">
        <app-add-contact></app-add-contact>
        <img (click)="popupService.closePopups()" src="assets/img/close.png" alt="" class="close close-change-color">
    </div>
</div>



<!-- EDIT CONTACT POPUP -->

<div *ngIf="popupService.editContact" class="popup popup-contact center-absolute br popup-shadow">
    <div class="popup-contact-left linear-gradient center">
        <div style="align-items:start" class="row-container center-column">
            <img src="assets/img/join-logo.png" alt="">
            <div class="h2"> <span class="h2 blue-underline">Edit</span> contact</div>
        </div>
    </div>

    <div class="popup-contact-middle center">
        <div *ngIf="popupService.contactForView" class="person-icon center">
            {{ popupService.contactForView.first_name.charAt(0).toUpperCase() }}
            {{ popupService.contactForView.last_name.charAt(0).toUpperCase() }}
        </div>
    </div>


    <div class="popup-contact-right center">
        <app-edit-contact></app-edit-contact>
        <img (click)="popupService.closePopups()" src="assets/img/close.png" alt="" class="close close-change-color">
    </div>
</div>

<!-- ADDTASK POPUP -->
<div *ngIf="popupService.addTaskPopup" class="popup popup-add-task center-absolute br popup-shadow">
    <app-addtask [headline]="'Add Task'"></app-addtask>
    <img (click)="popupService.closePopups()" src="assets/img/close.png" alt="" class="close">
</div>

<!-- Edit Task POPUP -->
<div *ngIf="popupService.editTaskPopup" class="popup popup-add-task center-absolute br popup-shadow">
    <app-addtask [headline]="'Edit Task'" ></app-addtask>
    <img (click)="popupService.closePopups()" src="assets/img/close.png" alt="" class="close">
</div>


<!-- TaskForView -Popup -->

<div *ngIf="popupService.taskPopupForView" class="popup popup-view-task center-absolute br popup-shadow">
    <app-task-for-view></app-task-for-view>
    <img (click)="popupService.closePopups()" src="assets/img/close.png" alt="" class="close">
</div>


<app-loader *ngIf="popupService.loader"></app-loader>

<div class="unable-site">
    <img src="assets/img/join-logo.png" alt="">
    <p>Sorry! This site supports only devices with a minimum height of 740px an an minimum width of 360px</p>
</div>