.marketing {
    background-color: #994646;
}

.sales {
    background-color: #37c878;
}

.finance {
    background-color: #7575a7;
}

.customer-support {
    background-color: #cb5252;
}

.product-development {
    background-color: #a833a8;
}

.legal {
    background-color: #2aa9a9;
}

.quality-assurance {
    background-color: #af7824;
}

.logistics {
    background-color: #17a253;
}

.administration {
    background-color: #235db2;
}

.engineering {
    background-color: #62921a;
}

.design {
    background-color: #c62084;
}
