<div class="popup">
    <div class="center">
        <h1>Sign Up</h1>
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="signUpForm" class="example-form center">

        <!-- Username -->
        <mat-form-field appearance="outline">
            <mat-label>username</mat-label>
            <input class="input-field" type="text" matInput formControlName="username">
            <mat-icon matSuffix>user</mat-icon>
            <mat-error *ngIf="signUpForm.controls['username'].errors?.['required']">
                <strong>username</strong> is required
            </mat-error>
        </mat-form-field>


        <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input type="email" matInput formControlName="email">
            <mat-icon matSuffix>mail</mat-icon>
            <mat-error *ngIf="signUpForm.controls['email'].errors?.['email']">
                Please enter a valid <strong>email</strong> address
            </mat-error>
            <mat-error *ngIf="signUpForm.controls['email'].errors?.['required']">
                Email is <strong>required</strong>
            </mat-error>
        </mat-form-field>


        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input autocomplete="current-password" class="input-field" type="password" matInput
                formControlName="password">
            <mat-icon matSuffix>lock</mat-icon>
            <mat-error *ngIf="signUpForm.controls['password'].errors?.['required']">
                Password is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <div class="row-container button-container">
            <div (click)="onSubmit()" type="button" action="submit" class="button-1">Sign Up</div>
            <div class="button-2">Guest Login</div>
        </div>
    </form>
</div>