.background {
    width: 100%;
    height: 100dvh;
    overflow:hidden;
}

.logo {
    height: 20vh;
    animation-name: start;
    animation-duration: 1.7s;
}


.hide {
    animation-name: hide;
    animation-duration: 1s;
    position: absolute;
    top: 25px;
    left: 25px;
    height: 120px;
    display: block;
    @media (max-width:450px) {
        scale: 0.6;
    }
}



@keyframes start {
    0% {
        transform: scale(0.6);
    }

    60% {
        transform: scale(1.5);
    }

    75% {
        transform: scale(0.7);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes hide {
    0% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 20vh;
    }

    100% {
        top: 25px;
        left: 25px;
        transform: translate(0, 0);
        height: 120px;
    }
}


app-sign-up {
    position: absolute;
    transform: translate(50%, -50%);
    background-color: white;
    top: 50%;
    right: -50%;
}

.show-signup {
    transition: all 1.2s ease-in-out;
    right: 50%;
}

.hide-to-right {
    transition: all 1.2s ease-in-out;
    right: -200%;
}


app-login {
    position: absolute;
    left: 50%;
    top: 200%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.show-login {
    transition: all 1.2s ease-in-out;
    top: 50%;
}

.hide-to-bottom {
    transition: all 1.2s ease-in-out;
    top: 200%;
}



app-pwreset {
    position: absolute;
    left: -50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.show-pwreset {
    transition: all 1.2s ease-in-out;
    left: 50%;
}

.hide-to-left {
    transition: all 1.2s ease-in-out;
    left: -50%;
}




.right-top {
    position: absolute;
    top: 50px;
    right: -50%;
    width: auto !important;
    @media (max-width:450px) {
        scale: 0.8;
        right: -100%;
    }
}

.show-from-right {
    transition: all 1.2s ease-in-out;
    right: 50px !important;

    @media (max-width:500px) {
        right: 10px !important;
    }
    
}