/* You can add global styles to this file, and also import other style files */
.primary-color {
    background-color: #2A3647;
}

.secondary-color {
    background-color: #29ABE2;
}


.linear-gradient {
    background: linear-gradient(#2A3647 , #29ABE2);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

body {
    margin: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
