<div class="popup">
    <div class="center">
        <h1>Password reset</h1>
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="reset" class="example-form center">
        <div class="row-container">We will send you a mail to reset you password</div>
        <!-- Mail-->
        <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input  type="email" matInput formControlName="email">
            <mat-icon matSuffix>mail</mat-icon>
            <mat-error *ngIf="reset.controls['email'].errors?.['email']">
                Please enter a valid <strong> email</strong> address
            </mat-error>
            <mat-error *ngIf="reset.controls['email'].errors?.['required']">
               We need your <strong> email</strong> 
            </mat-error>
        </mat-form-field>
        <div class="row-container">
            <div (click)="redirectToLogin()" class="font-blue text-btn">back to login</div>
        </div>

        <div class="row-container button-container" style="margin-top: 22px;">
            <button [ngClass]="{'invalid': !reset.valid}" type="button" action="submit" class="button-1">Send</button>
        </div>
    </form>
</div>
